.Select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // gap: 10px;
  padding-top: 16px;
  padding-bottom: 14px;
  // width: 265px;
  // height: 46px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  color: black;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &--open {
    border-radius: 8px 8px 0 0;
  }
  &--dark {
    box-shadow: 0px 0px 0px 1px white;
    color: white;
    background: #000;
  }
  &__title {
    width: 220px;
    word-break: break-all;
    margin: 0 0 0 15px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    white-space: nowrap;
  }
  &__optionContainer {
    display: block;
    position: absolute;
    width: calc(100%);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    top: 47px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    background: white;
    &--open {
      border-radius: 0 0 8px 8px;
      max-height: 300px;
    }
    &--dark {
      box-shadow: 0px 0px 0px 1px white;
      background: #000;
    }
  }
  &__option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100%);
    box-sizing: border-box;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      background: black;
      color: white;
    }
    &--dark {
      &:hover {
        background: white;
        color: black;
      }
    }
    &:last-of-type {
      border-radius: 0 0 8px 8px;
    }
  }
  &__optionName {
    word-break: break-word;
  }
  &__arrow {
    position: absolute;
    display: flex;
    right: 18px;
    float: right;
    fill: #b3b3b3;
  }
}
