.header {
  padding-top: 35px;
  margin-bottom: 35px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
