.gallery {
  padding-bottom: 40px;

  &__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__paintings {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1365px) {
  .gallery {
    &__container {
      max-width: 970px;
    }
  }
}

@media (max-width: 1023px) {
  .gallery {
    &__container {
      max-width: 730px;
    }
  }
}

@media (max-width: 767px) {
  .gallery {
    &__container {
      max-width: 320px;
      padding: 0 20px;
    }
    &__paintings {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
